* {
    font-family: system-ui;
}

.side-frame {
    word-wrap: break-word;
    min-height: 100vh;
}

@media only screen and (min-width: 1100px) {
    .main-frame {
        padding: 50px;
    }

    .side-frame {
        padding: 50px;
    }
}

@media only screen and (max-width: 1100px) {
    .main-frame {
        padding: 10px;
    }

    .side-frame {
        padding: 10px;
    }

    img {
        height: auto; 
        width: auto; 
        max-width: 80%; 
        max-height: 80%;
    }
}

a {
    color: black;
}

svg {
    display: block;
    margin: auto;
    align-self: center;
    margin-bottom: 0.95rem;
    fill: black;
}

.bg-yellow {
    background-color: #FFDF39;
}

.btn-yellow {
    background-color: #FFDF39;
    border-color: #FFDF39;
}

.btn-yellow:hover {
    background-color: #ffd600;
}

th {
    background-color: #FFDF39;
}

.main-frame > p {
    text-align: justify;
}

.side-frame > ul a {
    text-decoration: none;
    font-weight: 500;
}

.side-frame > ul li {
    list-style: none;
    margin-top: 10px;
    font-size: 1.25rem;
}

.side-frame > ul a {
    color: #897925;
}

.side-frame > ul a:hover {
    color: black;
}
