.main_frame {
    padding: 4rem;
}
.side_frame {
    padding: 4rem;
    box-shadow: 10px -5px -5px black;
}

a {
    color: black;
}

svg {
    display: block;
    margin: auto;
    align-self: center;
    margin-bottom: 0.95rem;
    fill: black;
}

.tabbed-link {
    margin-left: 3rem;
    text-align: left;
}

.btn-warning {
    background-color: #FFDF39;
}

.bg-yellow {
    background-color: #FFDF39;
}

.main_frame > p {
    text-align: justify;
}

.main_frame > p > img{
    align: center;
}