.main_frame {
    padding: 4rem;
}
.side_frame {
    padding: 4rem;
    /*background-color: --bs-warning;
    background-color: #FFDF39;*/
    box-shadow: 10px -5px -5px black;
}

a {
    color: black;
    text-decoration: none;
}

svg {
    display: block;
    margin: auto;
    align-self: center;
    margin-bottom: 0.95rem;
    fill: black;
}

.tabbed-link {
    margin-left: 3rem;
    text-align: left;
}

.btn-warning {
    background-color: #FFDF39;
}

.bg-dark {
    color: #FFDF39;
    background: #FFDF39;
    background-color: #FFDF39 !important;
}